.resumo-tratamento .resumo {
    background-color:rgb(240, 240, 240,0.8);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 5px;
    margin: 1px;
}

/* div das tabelas */
.resumo-tratamento .corpo .ladoDireito .tabela{
    margin-bottom: 2%;
}

.resumo-tratamento .corpo .ladoDireito .tabela h4{
    color: var(--primary-color);
    margin:0.5% 0;
    
}

/*tabelas */
.resumo-tratamento .corpo .ladoDireito .p-datatable{
    box-shadow: 0 1px 5px;
    border-radius: 5px;
}

/* celulas do corpo e cabeçalho da tabela*/
.resumo-tratamento .corpo .ladoDireito .p-datatable .p-datatable-wrapper table th,
.resumo-tratamento .corpo .ladoDireito .p-datatable .p-datatable-wrapper table td{
    height: 2em;
    padding: 0.5% 1%;
}

/* cor do cabeçalho */
.resumo-tratamento .corpo .ladoDireito .tabela .p-datatable-thead .p-sortable-disabled{
    background-color:var(--surface-d);
    color: var(--primary-color);
}
