.resumo-tratamento .resumo {
    background-color:rgb(240, 240, 240,0.8);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 5px;
    margin: 1px;
}

/* div das tabelas */
.resumo-tratamento .corpo .ladoDireito .tabela{
    margin-bottom: 2%;
}

/* tabelas */
.resumo-tratamento .corpo .ladoDireito .tabela .p-datatable{
    box-shadow: 1px 1px 6px;
}

.resumo-tratamento .corpo .ladoDireito .tabela label{
    font-weight: bold;
    color: var(--primary-color);
}