/* Tirar a margem do title, deixar bem perto do link do browser  */
/* Colorir fundo da tela */
* {
  margin: 0;
  background-color:white;
  color:#22b2aa;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto Slab', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
