
.nutriapp-menu {
    display: flex;
    padding: 0 14%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:var(--primary-color);
}

.nutriapp-menu i{
    color: white !important;;
    
}

.nutriapp-menu h1{
    min-width: 170px;
    max-width: 12%;
}

.nutriapp-menu #centermenu{
    margin: 0;
    padding: 0px 10px;
    width: 75%;
    background-color: #22b2aa;
    justify-self: flex-start;
    overflow: unset;
    position: relative;
}
.nutriapp-menu #endmenu{
    min-width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nutriapp-menu #centermenu .p-tabmenu-nav{
    border: 0;
}

  /* tab selecionada*/
.nutriapp-menu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background:white;
    color: #22b2aa;
}

/* tabs nao selecionadas*/
.nutriapp-menu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: #22b2aa;
    border: transparent;
    color: white;
}


/* 
@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 730px) {
   
} */