
.nutriapp-menu #MBar{
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color:var(--primary-color);
}



.nutriapp-menu .p-menubar-start{

    justify-items: flex-start;
    /* background-color: brown; */
}

.nutriapp-menu .p-menubar-start{
    width: auto;
    align-items: flex-start;
    justify-content: flex-start;
}
.nutriapp-menu .p-menubar-root-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: #ccc; */
    padding-left: 10px;
    
}

.nutriapp-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text,
.nutriapp-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
    /* margin: 0%; */
    /* height: 100%; */
    color: white;
    
}

.nutriapp-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover .p-menuitem-text,
.nutriapp-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover .p-menuitem-icon {
    color: red;   
}

