.nutriapp-recuperarsenha {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nutriapp-recuperarsenha .CardVertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  height: fit-content;
  width: 23rem;
  min-width: 20rem;
  box-shadow: 1px 1px 4px;
  border-radius: 10px;
}
/* logo */
.nutriapp-recuperarsenha .CardVertical h1 {
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
  width: 100%;
  height: 15%;
  margin: 12px 0;
  color: tomato;
  text-shadow: 1px 1px 4px black;
}
/* subtitulo */
.nutriapp-recuperarsenha .CardVertical h2 {
  color: var(--primary-color);
  margin: 12px 0;
}
/* texto info */
.nutriapp-recuperarsenha .CardVertical p {
  margin: 12px 2.5rem;
  text-align: justify;
  color: var(--primary-color);
}

.nutriapp-recuperarsenha .Email label {
  font-weight: bold;
  color: var(--primary-color);
}
.nutriapp-recuperarsenha .CardVertical .Email {
  /* margin: 6px 0; */
  width: 100%;
  padding: 12px 2.5rem;
}

.nutriapp-recuperarsenha .p-float-label,
.nutriapp-recuperarsenha .p-float-label #campoEmail {
  border-radius: 5px;
  height: 2.5rem;
  width: 100%;
}
.nutriapp-recuperarsenha .niveis {
  width: 100%;
  padding: 12px 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nutriapp-recuperarsenha .niveis label {
  color: var(--primary-color);
  font-weight: 500;
}

.nutriapp-recuperarsenha .niveis .p-button {
  background-color: rgb(24, 133, 127);
  /* height: 30px; */
  transition: 50ms;
  margin: 5px 0;
  font-size: 11px;
}
.nutriapp-recuperarsenha .niveis .p-button:not(.p-disabled):not(.p-highlight):hover {
  background: rgb(41, 233, 223);
}
.nutriapp-recuperarsenha .niveis .p-button.p-highlight {
  background-color: rgb(40, 201, 193);
  box-shadow: 1px 0px 4px 1px rgb(35, 255, 200);
  font-weight: bold;
}
.nutriapp-recuperarsenha .niveis .p-button.p-highlight:hover {
  background: rgb(41, 233, 223);
}

/*div dos botoes*/
.nutriapp-recuperarsenha #botoes {
  width: 100%;
  padding: 12px 2.5rem;
  justify-content: space-between;
}
/*os dois botoes*/
.nutriapp-recuperarsenha #botoes .p-button {
  width: 8rem;
}
.nutriapp-recuperarsenha #btcancelar {
  background-color: var(--text-color-secondary);
}

.nutriapp-recuperarsenha #btcancelar:hover {
  background-color: #2bb2ab;
}
