
.nutriapp-login {
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nutriapp-login .CardVertical{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 100vh;
    width: 25%;
    min-width: 20rem;
}

.nutriapp-login .CardVertical div{
    margin: 0.5rem
}

.nutriapp-login #campoemail,
.nutriapp-login #camposenha{
    padding: 0 2.5rem;
    border-radius: 5px;
    height:2.5rem;
    width: 100%;
}


.nutriapp-login .CardVertical h1{
    text-align: center;
    font-size: 3.6rem;
    font-weight: bold;
    width: 100%;
    height: 15%;
    color: var(--primary-color);
}


.nutriapp-login .Email  span label {
    font-weight: bold;
    color: var(--primary-color);
}



.nutriapp-login .Senha span label{
    font-weight: bold;
    color: var(--primary-color);
}

.nutriapp-login .Botao{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nutriapp-login #bt{
    background-color: var(--primary-color);
    height: 2.5rem;
    width: 65%;
}

.nutriapp-login .DivChave{
    width: 57%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* botao interno slider*/
.nutriapp-login .p-inputswitch-slider::before{
    /* background-color:rgb(255, 255, 255)!important; */
    border-radius: 50%!important;
}
/* slider unchecked*/
.nutriapp-login .p-inputswitch .p-inputswitch-slider{
    background-color: rgb(136, 136, 136);
    border-radius: 20px;
}

/* slider hover*/
.nutriapp-login .p-inputswitch .p-inputswitch-slider:hover{
    background-color:rgb(77, 145, 139)!important;
}

/* slider checked*/
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: var(--primary-color)!important;
}

.nutriapp-login .DivChave label{
    font-weight: bold;
    color: var(--primary-color);
}
.nutriapp-login .slider{
    color: var(--primary-color);
}


