.nutriapp-cadastroadmin {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nutriapp-cadastroadmin-inicio .corpo {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 4px;
}

.nutriapp-cadastroadmin input:invalid {
  border-color: rgb(252, 48, 58);
}

.nutriapp-cadastroadmin input:valid {
  border-color: limegreen;
}

.nutriapp-cadastroadmin-inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1% 20% !important;
  padding: 0 14%;
  /* background-color: lightgreen; */
}

.nutriapp-cadastroadmin-inicio div {
  /* margin: 0%; */
  border-radius: 5px;
}

.nutriapp-cadastroadmin .ladoEsquerdo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: fit-content;
  /* background-color: yellow; */
}
.nutriapp-cadastroadmin .ladoDireito {
  color:var(--primary-color);
  height: fit-content;
  width: 100%;
  padding: 1.4% 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: yellowgreen; */
}

.nutriapp-cadastroadmin .foto {
  width: 5cm;
  height: 6cm;
  border: 2px solid #000;
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px;
}

.nutriapp-cadastroadmin .foto img {
  width: 4.9cm;
  height: 5.9cm;
}

.nutriapp-cadastroadmin .ladoEsquerdo .divBt1 {
  width: 11.7em;
  height: 5.5rem;
}

.nutriapp-cadastroadmin .ladoEsquerdo .divBt1 .p-fileupload-choose {
  width: 100%;
  box-shadow: 1px 1px 4px black !important;
}

.nutriapp-cadastroadmin .ladoEsquerdo .divBt1 #bt2 {
  width: 100%;
  height: 38px;
  background-color: rgb(252, 48, 58);
  margin-top: 10px;
}

.nutriapp-cadastroadmin .ladoEsquerdo .divBt1 #bt2:hover {
  background-color: red;
}

.nutriapp-cadastroadmin .foto #lbfoto::before {
  font-size: 5em;
  color: var(--primary-color);
}

.nutriapp-cadastroadmin #btSalvar {
  margin-top: 10px;
  width: 12rem;
  height: 3rem;
}

.nutriapp-cadastroadmin #btVoltar {
  margin-top: 10px;
  background-color: #555;
  width: 12rem;
  height: 3rem;
}

.nutriapp-cadastroadmin .p-field {
  margin-bottom: 5px;
}

.nutriapp-cadastroadmin .p-multiselect-panel .p-multiselect-header {
  height: 25px !important;
}
