.menuTratamento{
    display: flex;
    flex-direction: column;
    padding: 1.5% 1%;
    align-items: flex-start;
    width: 20rem;
    border-radius: 5px;
    max-height: 100%;
    box-shadow: 0 1px 5px;
    background-color: var(--surface-d);
}

/*div do text*/
.menuTratamento .texto{
    padding: 5px 7%;
}

.menuTratamento  label{
    color: #22b2ab;
    font-weight: 500;
}
.menuTratamento  p{
    text-align: justify;
    margin-bottom: 5%;
}

.menuTratamento .botoes{
    height:25em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menuTratamento .botoes Button{
    width: 90%;
    margin-top: 8px;
    justify-content: center;
}