.nutriapp-card{
  /* border: 1px solid #000; */
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width:98%;
  height: fit-content;
  margin: 1% 1%;
  box-shadow: 0 1px 7px -2px;
}

.nutriapp-card .divFoto {
  padding: 5px;
  color: #000;
  
}
.nutriapp-card .divFoto img{
    width: 7.5rem;
    height: 7.5rem;
    /* border: 1px solid #000; */
    text-align: center;
    align-content: center;
    justify-content: center;
}

.nutriapp-card .info{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  /* justify-content: center; */
  
}
.nutriapp-card .info1{
  width: 51.4%;
  max-width: 26em;
}
.nutriapp-card .info2{
  min-width: fit-content;
  /* min-width: 20em; */
  
}


.nutriapp-card .info1,
.nutriapp-card .info2{
  /* width: 30vw; */
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 1px solid #000; */
}



.nutriapp-card .info1 label,
.nutriapp-card .info2 label{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5em 2px;
  color: var(--primary-color);
  /* background-color: tomato; */
}
.nutriapp-card .info1 p,
.nutriapp-card .info2 p{
  color: #000;
  font-weight: normal;
}

.nutriapp-card .botoes{
  /* border: 1px solid #000; */
  width: 15rem;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

/*todos os botoes */
.nutriapp-card .botoes button{
  margin: 10px 2px;
}

/*botoes grandes*/
.nutriapp-card .btGrande button{
  width: 8.5rem;
}

.nutriapp-card #btApagar{
  background-color: var(--surface-d);
  color:red;
  border-radius: 4px;
}
.nutriapp-card #btApagar:hover{
  background-color:red;
  color: var(--surface-d);
  border: 1px solid var(--surface-d)
}