.Card{
    flex: 1;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 90px;
    margin:70px;
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 90vw;
  }
  
  .Card .Content {
    flex: 1;
    padding: 15px 0px;
    color: #000;
    
  }