.cima{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.esquerda{
    height: 40%;
    width: 58vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.esquerda.p-chart{
    max-height: 40%;
}
.p-chart canvas{
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 50vw;
    max-height: 300px;
}



.direita{
    margin: 10px;
    width: 38vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direita .p-chart{
    width: 100vw;
}

.direita .p-chart canvas{
    padding: 30px;
}

.baixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.baixo .p-chart{
    margin: 10px
}

.baixo .p-chart canvas{
    width: 89vw;
    max-height: 270px
}

