.recordatorioAlimentar {
  background-color: rgb(240, 240, 240, 0.8);
  min-height: 85vh;
  height: fit-content;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 1px 5px;
  margin: 1px;
  /* background-color: yellowgreen; */
}

.recordatorioAlimentar label {
  color: var(--primary-color);
  font-weight: 500;
}

.recordatorioAlimentar .p-selectbutton .p-button {
  background-color: rgb(80, 24, 133);
  transition: 50ms;
}
.recordatorioAlimentar .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
  background: rgb(131, 41, 233);
}
.recordatorioAlimentar .p-selectbutton .p-button.p-highlight {
  background-color: rgb(115, 40, 201);
  box-shadow: 1px 0px 4px 1px rgb(204, 35, 255);
  font-weight: bold;
}
.recordatorioAlimentar .p-selectbutton .p-button.p-highlight:hover {
  background: rgb(131, 41, 233);
}

.recordatorioAlimentar #btAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  height: 190%;
  border: unset;
  background-color: rgb(93, 35, 170);
  box-shadow: 1px 1px 4px black;
}
.recordatorioAlimentar #divBt button:hover {
  background-color: rgb(115, 40, 201);
  border: unset;
}
.recordatorioAlimentar #divBt button:active {
  box-shadow: inset 0.5px 0.5px 4px black;
  background-color: rgb(80, 24, 133);

}
.recordatorioAlimentar #btAdd :nth-child(2) {
  flex: unset;
}

.recordatorioAlimentar .botoes {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.recordatorioAlimentar .botoes button {
  width: 120px;
}
