.nutriapp-ListagemPaciente{
  width: 100%;
}
.nutriapp-ListagemPaciente .corpo #bt,
.nutriapp-ListagemPaciente .corpo input{
  box-shadow: 0 1px 5px -2px black;
}

.nutriapp-ListagemPaciente .corpo{
  /* background-color: var(--surface-d); */
  min-height: 100vh;
  height: 100%;
  padding: 1.4% 2rem;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nutriapp-ListagemPaciente .corpo .header{
  margin: 10px;
  display: flex;
  width: 75%;
  justify-content: space-between;
}


.nutriapp-ListagemPaciente .pesquisa{
  border-radius: 20px;
  width: 400px;
}

.nutriapp-ListagemPaciente .fundobranco{
  background-color: rgb(255, 255, 255,0.8);
  width: 75.5%;
  border-radius: 5px;
  box-shadow: 0 1px 7px -2px;
}
