.menuTratamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85.5vh;
    padding: 1.5% 1% 0 1%;
    border-radius: 5px;
    box-shadow: 0 1px 5px;
    background-color:rgb(240, 240, 240,0.8);

}
/*div do text superior*/
.menuTratamento .texto{
    padding: 5px 7%;
}
/* labels do texto superior */
.menuTratamento  label{
    color: var(--primary-color);
    font-weight: 500;
}
.menuTratamento  p{
    text-align: justify;
    margin-bottom: 5%;
}
/* texto data de cadastro */
.menuTratamento .dtCadastro{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 0 25px;
}
.menuTratamento .dtCadastro p{
    color:var(--primary-color);
    font-size: 12px;
    font-weight: 500;
}

.menuTratamento .botoes{
    height:25em;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuTratamento .botoes .p-button{
    margin-top: 6px;
    width:88%;
    box-shadow:  1px 1px 4px;
    justify-content: center;
    align-items: center;
    transition: 100ms;
}

.menuTratamento .botoes  a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuTratamento .botoes  button:hover{
    background-color:white;
    color: var(--primary-color);
    border: 0;
    font-weight: bold;
}