* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #212529;
  --text-color-secondary: #6c757d;
  --primary-color: #22b2aa;
  --primary-color-text: #ffffff;
}


body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--surface-d); */
  /* color: #fff; */
  
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.p-button {
  background: var(--primary-color);
  border: 1px solid transparent;
}
.p-button:hover {
  background-color: tomato;
  background: tomato;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}


.p-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(34, 178, 171, 0.5);
}
.p-button:enabled:active, .p-button:not(button):not(a):not(.p-disabled):active{
  background:#1b8a84;
  border: 1px solid #1b8a84;
}

.p-button:enabled:hover, .p-button:not(button):not(a):not(.p-disabled):hover{
  background:#24c9c0;
  border: 1px solid #24c9c0;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus{
  box-shadow: inset 0 0 0 0.2rem rgba(12, 199, 190, 0.5);

}

/* .p-button:enabled:hover{
  background-color: white;
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
} */

i.pi{
  color: var(--primary-color);
 
}
a {
  text-decoration: none;
}

