* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #212529;
  --text-color-secondary: #6c757d;
  --primary-color: #22b2aa;
  --primary-color-text: #ffffff;
}


body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  /* background-color: var(--surface-d); */
  /* color: #fff; */
}

.p-button{
  background: var(--primary-color);
  border: var(--primary-color);
}

i.pi{
  color: var(--primary-color);
 
}
a {
  text-decoration: none;
}

