.nutriapp-ListagemNutri{
  width: 100%;
}

.nutriapp-ListagemNutri .corpo{
  background-color: var(--surface-d);
  min-height: 100vh;
  height: 100%;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nutriapp-ListagemNutri .corpo .header{
  margin: 10px;
  display: flex;
  width: 75%;
  justify-content: space-between;
}


.nutriapp-ListagemNutri .pesquisa{
  border-radius: 20px;
  width: 400px;
}

.nutriapp-ListagemNutri .fundobranco{
  background-color: rgb(255, 255, 255);
  width: 75.5%;
  border-radius: 5px;
}
