.tabela .botoes{
    display: flex;
    justify-content: space-around;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
    background-color: #84f7f123!important;
}
.tabela .botoes button{
    color: var(--primary-color);
    background-color: unset;
    height: 22px;
    width: 22px;
    border: unset;
    border-radius: 15%;
}
.tabela .botoes button:hover{
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
}


/*tabelas */
.tabela .p-datatable{
    border-radius: 5px;
}

/* celulas do corpo e cabeçalho da tabela*/
.tabela .p-datatable .p-datatable-wrapper table th,
.tabela .p-datatable .p-datatable-wrapper table td{
    height: 2em;
    padding: 0.5% 1%;
}

/* cor do cabeçalho */
.tabela .p-datatable-thead .p-sortable-disabled{
    background-color:var(--surface-d);
    color: var(--primary-color);
}

/* 
.tabela .p-toast{
    width: 290px;
    div geral
}

.tabela .p-toast-message{
    div da mensagem

}

.tabela .p-toast-message-content{
    height: fit-content;
    corpo da mensagem
} */